.post-header{
    
    display: flex;
    min-width: 50px;
    height: 50px;

}
.Point{
    align-content: end;
}

.post-img{
    align-items: center;
    margin: 70px;
    margin-top: 10px;
}

.post-icons{

}

.fa-brands{
    text-align: center;
}

.yeyeye{
    min-width: 50px;
    height: 50px;
}

.textHead{
    display: flex;
    flex-direction: column;
    min-width: 700px;
}
.textHead h6{
    margin: 0;
}


.botPart{
    margin: 30px;
    margin-top: 15px;
}

i{
    padding-right: 10px;
}

.emotPart{
    padding-left: 30px;
}