body{
    height: 1500px;
    width: 400px;
}

.post-header{
    
    display: flex;
    min-width: 50px;
    height: 50px;

}
.Point{
    align-content: end;
}


.post-img{
    
    /*margin: 30px;
    margin-top: 10px;*/
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    /*border: solid red;
*/
}


.fa-brands{
    text-align: center;
}

.yeyeye{
    min-width: 50px;
    height: 50px;
}

.textHead{
    display: flex;
    flex-direction: column;
    min-width: 360px;
}
.textHead h6{
    margin: 0;
}


.botPart{
    margin: 10px;
    margin-top: 15px;
    width: 340px;
   /* border: solid red;
    */
}

.texttext{
    justify-content:center;
    
}

i{
    padding-right: 10px;
}

.emotPart{
    padding-left: 10px;
    padding-top: 15px;
}